.score-tracker {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #ffa41c;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .score-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin: 0;
    font-size: 16px;
  }
  